body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
    padding: 15px;
    font-weight: 400;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    /* background: #d4fce7; */
    border-radius: 20px;
    padding: 2rem;
}

.image-list {
    heigh: 400px;
}

.image-list-content{
    display: flex;
    flex-direction: column;
}