body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.32857143;
    color: #333;
    margin: 0;
    padding: 8px;
    font-weight: 400;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    /* background: #d4fce7; */
    border-radius: 20px;
    padding: 1rem;
    width: 250px;
}

.image-list {
    height: 360px;
    
}

.image-list-content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 260px;
}

.overlay {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:1000;
}

.classes_cont {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#zoom_main_win {
    display:none;
    position:absolute;
    top:0;
    left:0;
    border:1px solid black;
}

#zoom_sec_win {
    display:none;
    position:absolute;
    top:0;
    left:0;
    border:1px solid black;
}

.canvases {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#anot_class_001 {
    display: none;
}

#anot_class_002 {
    display: none;
}

#anot_class_003 {
    display: none;
}

#anot_class_004 {
    display: none;
}

#anot_class_005 {
    display: none;
}

.radio-label {
    display: flex;
    flex-direction: column; 
    justify-content: start; 
    align-items: center;
    cursor: pointer;
    padding: 4px;
}

.classes_cont input[type="radio"]:checked+label {
    border: 1px solid #000;
    border-radius: 10px;
}